<%= simple_form_for [:admin, @post] do |f| %>
  <%= f.error_notification %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-8">
        <%= f.input :published, wrapper: :checkbox, label: nil %>
        <%= f.input :published_at, as: :string %>
        <%= f.input :slug %>
        <%= f.input :title %>
      </div>
      <div class="col-sm-4">
        <label>Categories</label>
        <!-- bit of a hack with label: '' but that's the best we could do
        to get bootstrap checkboxes looking OK -->
        <%= f.association :categories, as: :check_boxes, wrapper: :checkbox, label: '' %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
      </div>
      <div class="col-sm-6">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12" style="display: none;">
        <%= f.input :blurb %>
        <%= f.input :body %>
      </div>
    </div>

    <div class="row">
      <div class="large-12">
        <%= f.label :blurb %>
        <div id="epiceditor_post_blurb"></div>
      </div>
    </div>

    <div class="row">
      <div class="large-12">
        <%= f.label :body %>
        <div id="epiceditor_post_body"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <%= f.error :base %>
        <br />
        <br />
        <br />
        <%= f.button :submit, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>
