<h1>Listing posts</h1>

<%= link_to 'New Post', new_admin_post_path, class: 'btn btn-primary' %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr class="<%= 'warning' unless post.published %>">
        <td><%= post.title %></td>
        <td>
          <%= link_to 'Edit', edit_admin_post_path(post), class: 'btn btn-sm btn-default' %>
          <%= link_to 'Show', post, target: :blank, class: 'btn btn-sm btn-default' %>
          <%= link_to raw('<span class="glyphicon glyphicon-trash"></span>'), [:admin, post],
            method: :delete,
            class: 'btn btn-sm btn-default',
            data: { confirm: 'Are you sure?' }
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_admin_post_path, class: 'btn btn-primary' %>
