<header class="post">
  <h2><%= link_to_unless_current post.title, post %></h2>
  <p>
    <strong><%= post.published_at.strftime('%e %b %Y at %l%P') %></strong>
    &nbsp;
    Categories:
    <%= post.categories.map{|c| c.name}.join(" &bull; ") %>
  </p>
</header>


<%= post.content(post.blurb).html_safe %>
<% if params[:action] == 'show' %>
  <%= post.content(post.body).html_safe %>
<% else %>
  <%= link_to 'Read More ›', post, class: 'tiny button' %>
<% end %>

<% #DevHub q - why can you access the model direct form the view? And shouldn't content rendering be the responsibility of the view? %>
