<article class="post">

  <header>
    <h1>
      <%= link_to_unless_current post.title, post_path(post.slug) %>
      <%# if user_signed_in? %>
        &nbsp;
        <%#= link_to "(edit)", edit_admin_post_url(post.id), target: :blank %>
      <%# end %>
    </h1>
    <p>
      Posted
      <strong><%= post.published_at.strftime('%e %b %Y at %l%P') %></strong>
      in
      <%= post.categories.map{|c| link_to c.name, posts_category_path(c.slug) }.join(" &bull; ").html_safe %>
      <% if params[:action] == 'show' %>
        <%= render :partial => 'social_links' %>
      <% end %>
    </p>
  </header>

  <%= post.content(post.blurb).html_safe %>
  <% if params[:action] == 'show' %>
    <%= post.content(post.body).html_safe %>
    <%= render :partial => 'social_links' %>
  <% else %>
    <%= link_to "More ›", post_path(post.slug), class: 'more' %>
  <% end %>

  <% #DevHub q › why can you access the model direct form the view? And shouldn't content rendering be the responsibility of the view? %>
</article>
