<div class="post">

  <header>
    <h2><%= link_to_unless_current post.title, post_path(post.slug) %></h2>
    <p>
      <strong><%= post.published_at.strftime('%e %b %Y at %l%P') %></strong>
      &nbsp;
      Categories:
      <%= post.categories.map{|c| link_to c.name, posts_category_path(c.slug) }.join(" &bull; ").html_safe %>
      <% if params[:action] == 'show' %>
        <%= render :partial => 'social_links' %>
      <% end %>
      <% if admin_user_signed_in? %>
        <%= link_to "Edit", edit_admin_post_url(post.id), target: :blank %>
      <% end %>
    </p>
  </header>

  <%= post.content(post.blurb).html_safe %>
  <% if params[:action] == 'show' %>
    <%= post.content(post.body).html_safe %>
    <%= render :partial => 'social_links' %>
  <% else %>
    <%= link_to "Tell Me More ›", post_path(post.slug), class: 'more' %>
  <% end %>


  <% #DevHub q › why can you access the model direct form the view? And shouldn't content rendering be the responsibility of the view? %>
</div>
