<header class="main">
  <h1 class="site-title">Joshua Paling</h1>
  <h2>(aka Joss)<h2>
  <nav>
    <% currentClass = (request.fullpath != '/about')? 'current' : '' %>
    <%= link_to 'blog', posts_path, class: currentClass %>

    <% currentClass = (request.fullpath == '/about')? 'current' : '' %>
    <%= link_to 'about', '/about', class: currentClass %>

    <%= link_to raw('<span aria-hidden="true" class="icon-github"></span>'), 'https://github.com/joshuapaling', target: 'blank' %>
    <%= link_to raw('<span aria-hidden="true" class="icon-stackoverflow"></span>'), 'http://stackoverflow.com/users/1373987/joshua-paling', target: 'blank' %>
    <%= link_to raw('<span aria-hidden="true" class="icon-twitter"></span>'), 'https://twitter.com/joshuapaling', target: 'blank' %>
    <%= link_to raw('<span aria-hidden="true" class="icon-feed"></span>'), posts_path(:atom), target: 'blank' %>
  </nav>
</header>
