<!DOCTYPE html>
<html>
<head>
  <title>Joshua Paling</title>
  <%= stylesheet_link_tag    "admin/application", :media => "all" %>
  <%= javascript_include_tag "vendor/custom.modernizr" %>
  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag(:atom, posts_path(:atom)) %>
</head>
<body>
  <div class="fixed-width">
    <%#= render :partial => 'layouts/header' %>

    <div id="main">
      <h1>ADMIN AREA</h1>
        <div id="content-area">
          <%= yield %>
        </div>

        <div style="clear: both;"></div>
    </div>

    <%#= render :partial => 'layouts/footer' %>
  </div>
  <%= javascript_include_tag "admin/application" %>
</body>
</html>
