<!DOCTYPE html>
<html>
<head>
  <title>QuickBlog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag(:atom, posts_path(:atom)) %>
</head>
<body>
  <%= render :partial => 'layouts/header' %>

  <div id="main">

    <div class="row">
      <div class="large-8 columns">
        <%= yield %>
      </div>
      <div class="large-4 columns">
        <%= render :partial => 'layouts/sidebar' %>
      </div>
    </div>
  </div>

  <%= render :partial => 'layouts/footer' %>
</body>
</html>
